@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #111827;
}

@layer components {
  .container-px {
    @apply px-4 sm:px-6 lg:px-8;
  }
}